<div class="modal-body centered bg-warning">
  <div class="card">
    <img class="card-img-top mx-auto img-fluid" [src]="player?.photo" style="display: block; width: 250px; height: 300px">
    <div class="card-body">
      <table class="table table-bordered table-responsive-sm">
        <tbody>
        <tr>
          <td><h6 class="modal-title">Имя:</h6></td>
          <td><h6 class="modal-title">{{player?.givenName}}</h6></td>
        </tr>
        <tr>
          <td> <h6 class="modal-title">Фамилия:</h6></td>
          <td><h6 class="modal-title">{{player?.lastName}}</h6></td>
        </tr>
        <tr>
          <td><h6 class="modal-title">Дата рождения:</h6></td>
          <td><h6 class="modal-title">{{player?.birthdate | date: 'dd.MM.yyyy'}}</h6></td>
        </tr>
        <tr>
          <td><h6 class="modal-title">Рост / Вес:</h6></td>
          <td><h6 class="modal-title">{{player?.height}}см / {{player?.weight}}кг</h6></td>
        </tr>
        <tr>
          <td><h6 class="modal-title">Игровая нога:</h6></td>
          <td><h6 class="modal-title">{{player?.activeFoot}}</h6></td>
        </tr>
        <tr>
          <td><h6 class="modal-title">Позиция:</h6></td>
          <td><h6 class="modal-title">{{player?.position}}</h6></td>
        </tr>
        <tr>
          <td><h6 class="modal-title">Город:</h6></td>
          <td><h6 class="modal-title">{{player?.city}}</h6></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
