<body class="inventory-body">
<ng-container [ngSwitch]="teamPlayersState$ | async">
  <team-players-player-list
    *ngSwitchCase="teamPlayersState.LIST"
    [players]="players$ | async"
    [team]="team$ | async"
    (onOpen)="openPlayerModal($event)"
    (onGoToPlayerCreate)="goToPlayerCreate()"
    (onMakePayment)="makePayment($event)"
    (onOpenEdit)="openEditModal($event)"
    (onOpenDelete)="openDeleteModal($event)"
  >
  </team-players-player-list>
  <team-players-player-create
    *ngSwitchCase="teamPlayersState.CREATE"
    [team]="team$ | async"
    [isLoading]="playerCreateIsLoading$ | async"
    (onCreatePlayer)="createPlayer($event)"
    (onCancel)="onCancel()"
  >
  </team-players-player-create>
</ng-container>
</body>
