<div class="container-fluid">
  <div class="row mt-2">
    <div class="col">
      <p class="h1 text-white">Добавление игрока</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <form [formGroup]="form" (ngSubmit)="createPlayer()" class="was-validated">
        <div class="form-group">
          <label for="name">Имя:</label>
          <input type="text" class="form-control" id="name" placeholder="Имя" [formControl]="form?.controls?.givenName"
                 required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label for="lname">Фамилия:</label>
          <input type="text" class="form-control" id="lname" placeholder="Фамилия"
                 [formControl]="form?.controls?.lastName" required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label for="fname">Отчество:</label>
          <input type="text" class="form-control" id="fname" placeholder="Отчество"
                 [formControl]="form?.controls?.fatherName">
        </div>
        <div class="form-group">
          <label for="email">Дата рождения:</label>
          <div class="input-group">
            <input class="form-control" id="email" placeholder="дд.мм.гггг" [formControl]="form?.controls?.birthdate" ngbDatepicker #d="ngbDatepicker" required>
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="bi bi-calendar-event-fill"></i></button>
            </div>
          </div>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <div class="dropdown">
            <label>Город:</label>
            <button class="btn btn-primary dropdown-toggle ml-2" type="button" id="cities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf="form?.controls?.city?.value; else notSelected">{{form?.controls?.city?.value}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="cities">
              <h6 class="dropdown-header">Выбрать город</h6>
              <button class="dropdown-item" type="button" *ngFor="let city of cities" (click)="setCity(city)">{{city}}</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="height">Рост:</label>
          <input type="text" class="form-control" id="height" placeholder="Рост"
                 [formControl]="form?.controls?.height" required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label for="weight">Вес:</label>
          <input type="text" class="form-control" id="weight" placeholder="Вес"
                 [formControl]="form?.controls?.weight" required>
          <div class="valid-feedback"></div>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <div class="dropdown">
            <label>Игровая нога:</label>
            <button class="btn btn-primary dropdown-toggle ml-2" type="button" id="foot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf="form?.controls?.activeFoot?.value; else notFoot">{{form?.controls?.activeFoot?.value}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="foot">
              <h6 class="dropdown-header">Выбрать</h6>
              <button class="dropdown-item" type="button" *ngFor="let foot of feet" (click)="setFoot(foot)">{{foot}}</button>
            </div>
          </div>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary" *ngIf="!isLoading; else loadingButton" [disabled]="!form.valid">Сохранить</button>
          <button type="button" class="btn btn-danger ml-2" (click)="onCancel.emit()">Отмена</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #notSelected>
  <span>Город</span>
</ng-template>

<ng-template #notFoot>
  <span>Выбрать</span>
</ng-template>

<ng-template #loadingButton>
  <button class="btn btn-primary">
    <span class="spinner-border spinner-border-sm"></span>
    Подождите
  </button>
</ng-template>
