<ng-container [ngSwitch]="coachTabState$ | async">
  <coach-list
    *ngSwitchCase="coachTabState.LIST"
    [coachList]="coachList"
    [isLoading]="coachDeletingIsLoading$ | async"
    (onGoToCoachCreate)="goToCoachCreate()"
    (onDeleteCoach)="deleteCoach($event)"
    (onDeleteAllCoaches)="deleteAllCoaches()"
  >
  </coach-list>
  <coach-create
    *ngSwitchCase="coachTabState.CREATE"
    [isLoading]="coachCreatingIsLoading$ | async"
    (onCreateCoach)="createCoach($event)"
    (onCancel)="cancelCreating()"
  >
  </coach-create>
</ng-container>
